body {
  background-color: #4a4a4a;
  /* overflow: hidden; */
}

.wrapper .wrapper-inner {
  position: relative;
}
.wrapper .wrapper-inner img {
  width: 100%;
}

.wrapper .wrapper-inner .wrapper-block {
  position: absolute;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.wrapper-header .wrapper-header-inner {
  background-color: #ffffff63;
  /* opacity: 70%; */
  padding: 10px;
  border-radius: 12px;
}
.wrapper-header-title {
  background-image: linear-gradient(#3572b9, #42469d);
  padding: 6px 6px 8px;
  border-radius: 6px;
  opacity: 100%;
}
.wrapper-header-title h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}
.wrapper-header .wrapper-header-inner .wrapper-intake {
  display: inline-flex;
}
.wrapper-header .wrapper-header-inner .wrapper-intake p {
  padding: 10px 35px;
  margin: 0;
  color: #42469d;
  font-size: 18px;
  font-weight: 600;
}
.wrapper-header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-header-menu .wrapper-header-menu-inn {
  background-color: #d1e2f1;
  padding: 10px 0;
  border-radius: 8px;
  margin-right: 6px;
}
.wrapper-header-menu .wrapper-header-menu-inn:last-child {
  margin-right: 0;
}
.wrapper-header-menu .wrapper-header-menu-inn ul {
  list-style: none;
  padding: 0;
}
.wrapper-header-menu .wrapper-header-menu-inn ul li {
  padding: 0 10px;
  float: left;
  border-right: 1px solid #000;
  /* width: 70.2px; */
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
}
.wrapper-header-menu .wrapper-header-menu-inn ul li:last-child {
  border-right: none;
}
.wrapper-header-menu .wrapper-header-menu-inn ul li a {
  font-size: 10px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  line-height: 18px;
  display: block;
}
.wrapper-block-bg {
  background-image: linear-gradient(#d0e3f2, #d5d6e8);
}
/* .wrapper-waster ul li {
    width: 76.7px !important;
} */
.wrapper-loaction-list {
  position: relative;
  height: calc(100% - 180px);
}
.wrapper-loaction-list .wrapper-button-list button {
  background-color: #2f398f;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  position: relative;
  font-size: 12px;
  padding: 8px 20px;
}
.wrapper-loaction-list .wrapper-button-list button::after {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #2f398f;
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  display: table;
}

.wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-1 {
  position: absolute;
  top: 9%;
  left: 3%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-2 {
  position: absolute;
  top: 16%;
  left: 1%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-3 {
  position: absolute;
  top: 17%;
  left: 12%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-4 {
  position: absolute;
  top: 6%;
  left: 43%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-5 {
  position: absolute;
  top: 9%;
  left: 62%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-6 {
  position: absolute;
  top: 11%;
  left: 78%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-7 {
  position: absolute;
  top: 8%;
  left: 89%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-8 {
  position: absolute;
  top: 19%;
  left: 85%;
}

.wrapper-loaction-list .wrapper-skyblue button {
  background-color: #23a9e1;
}
.wrapper-loaction-list .wrapper-skyblue button::after {
  border-top: 15px solid #23a9e1;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-1 {
  position: absolute;
  top: 25%;
  left: 0%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-2 {
  position: absolute;
  top: 25%;
  left: 22%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-3 {
  position: absolute;
  top: 15%;
  left: 41%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-4 {
  position: absolute;
  top: 24%;
  left: 60%;
  width: 141px;
  line-height: 13px;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-5 {
  position: absolute;
  top: 32%;
  left: 78%;
  height: 46px;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-6 {
  position: absolute;
  top: 41%;
  left: 89%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-7 {
  position: absolute;
  top: 41%;
  left: 23%;
  height: 40px;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-8 {
  position: absolute;
  top: 37%;
  left: 36%;
  width: 115px;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-9 {
  position: absolute;
  top: 44%;
  left: 39%;
  width: 115px;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-10 {
  position: absolute;
  top: 50%;
  left: 45%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-11 {
  position: absolute;
  top: 55%;
  left: 64%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-12 {
  position: absolute;
  top: 68%;
  left: 77%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-13 {
  position: absolute;
  top: 91%;
  left: 9%;
  height: 42px;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-14 {
  position: absolute;
  top: 85%;
  left: 25%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-15 {
  position: absolute;
  top: 91%;
  left: 30%;
  width: 112px;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-16 {
  position: absolute;
  top: 88%;
  left: 37%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-17 {
  position: absolute;
  top: 86%;
  left: 69%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-18 {
  position: absolute;
  top: 93%;
  left: 72%;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-19 {
  position: absolute;
  top: 86%;
  left: 87%;
}

.wrapper-loaction-list .wrapper-green button {
  background-color: #4bbd97;
}
.wrapper-loaction-list .wrapper-green button::after {
  border-top: 15px solid #4bbd97;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-green-1 {
  position: absolute;
  top: 45%;
  left: 4%;
  width: 112px;
}
.wrapper-loaction-list .wrapper-button-list .wrapper-button-green-2 {
  position: absolute;
  top: 51%;
  left: 4%;
}
.wrapper-header-menu .custom-width {
  width: 11%;
}
.wrapper-header-menu .custom-width ul li {
  width: 50%;
}
.wrapper-header-menu .custom-width-sky-blue {
  width: 24%;
}
.wrapper-header-menu .custom-width-sky-blue ul li {
  width: 25%;
}
.wrapper-header-menu .custom-width-green {
  width: 63.5%;
}
.wrapper-header-menu .custom-width-green ul li {
  width: 9%;
}
.wrapper-header-menu .wrapper-waster {
  width: 100%;
}
.wrapper-waster ul li {
  width: 33.33%;
}

@media only screen and (max-width: 1485px) {
  .wrapper-header-menu .wrapper-header-menu-inn ul li {
    padding: 0 5px;
  }
  .wrapper-header-title h2 {
    font-size: 16px;
  }
  .wrapper-header-menu .wrapper-header-menu-inn ul li a {
    line-height: 13px;
  }
  .wrapper-header-menu .wrapper-header-menu-inn ul li {
    height: 50px;
  }
  .wrapper-header .wrapper-header-inner .wrapper-intake p {
    font-size: 16px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-green-2 {
    top: 52%;
    left: 4%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-green-1 {
    top: 45%;
    left: 6%;
    width: 112px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-10 {
    top: 51%;
    left: 45%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-11 {
    top: 57%;
    left: 64%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-13 {
    top: 92%;
    left: 9.5%;
    height: 42px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-14 {
    top: 86%;
    left: 25%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-15 {
    top: 93%;
    left: 30%;
    width: 112px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-16 {
    top: 89%;
    left: 37%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-17 {
    top: 88%;
    left: 67%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-18 {
    top: 96%;
    left: 69%;
  }
}

@media only screen and (max-width: 1380px) {
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-5 {
    top: 31%;
    left: 78%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-6 {
    top: 41%;
    left: 88%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-7 {
    top: 41%;
    left: 22%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-8 {
    top: 38%;
    left: 36%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-9 {
    top: 47%;
    left: 39%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-10 {
    top: 54%;
    left: 45%;
  }
}
@media only screen and (max-width: 1340px) {
}

@media only screen and (min-width: 1680px) {
  .wrapper-header {
    height: 215px;
  }
  .wrapper-header .wrapper-header-inner .wrapper-intake p {
    padding: 10px 55px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-1 {
    top: 13%;
    left: 4%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-2 {
    top: 18%;
    left: 3%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-1 {
    top: 25%;
    left: 3%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-3 {
    top: 19%;
    left: 11%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-3 {
    top: 18%;
    left: 41%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-4 {
    top: 11%;
    left: 47%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-5 {
    top: 13%;
    left: 63%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-4 {
    top: 26%;
    left: 60%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-6 {
    top: 14%;
    left: 78%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-7 {
    top: 13%;
    left: 86%;
    width: 130px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-8 {
    top: 20%;
    left: 83%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-2 {
    top: 26%;
    left: 20%;
    width: 158px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-5 {
    top: 34%;
    left: 78%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-green-1 {
    top: 46%;
    left: 6%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-green-2 {
    top: 51%;
    left: 5.3%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-7 {
    top: 42%;
    left: 23%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-8 {
    top: 39%;
    left: 35%;
    width: 130px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-9 {
    top: 44%;
    left: 39%;
    width: 130px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-10 {
    top: 48.3%;
    left: 45%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-11 {
    top: 55%;
    left: 65%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-12 {
    top: 67%;
    left: 77%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-19 {
    top: 82%;
    left: 88%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-17 {
    top: 85%;
    left: 71%;
    width: 130px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-18 {
    top: 90%;
    left: 73%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-13 {
    top: 88%;
    left: 9%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-14 {
    top: 84%;
    left: 25%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-15 {
    top: 88.5%;
    left: 30%;
    width: 112px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-16 {
    top: 86%;
    left: 35%;
  }
}

/* ---------------Altitude csss--------------------- */
.main-altitude {
  padding: 0 8%;
  position: relative;
}
.main-altitude .main-altitude-inner {
  position: relative;
}
.main-altitude .main-altitude-inner .main-altitude-bg-image img {
  width: 100%;
  height: 100%;
}
/* .main-altitude .main-altitude-inner .main-altitude-block {
    position: relative;
    height: 100%;
} */
.main-altitude
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-altitude
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-icon
  button {
  position: absolute;
  top: 75%;
  left: 51%;
  background-color: transparent;
  border: none;
}
.main-altitude
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-icon
  button
  img {
  width: 45px;
  height: 45px;
}
.main-altitude
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon
  button {
  position: absolute;
  top: 80% !important;
  left: 56% !important;
  background-color: transparent;
  border: none;
}
.main-altitude-content {
  width: 300px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 40px 20px 20px;
  border-radius: 20px;
  position: absolute;
  top: 16%;
  background: #ffffffd4;
  left: 28%;
  z-index: 2;
}
.main-altitude-auto-icon .main-altitude-content {
  left: 60%;
  top: 19%;
}
.main-altitude
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon
  .main-altitude-icon
  button
  img {
  width: 45px;
  height: 45px;
}
.main-altitude-content .altitude-content-title h3 {
  margin: 21px 0px 20px;
  color: #42469d;
  font-size: 33px;
  font-weight: 600;
}
.main-altitude-content .altitude-content-text p {
  font-size: 12px;
  font-weight: 600;
  color: #4b4647;
  text-decoration: none;
  line-height: 18px;
  display: block;
  margin: 0;
}
.learn-more a {
  font-size: 18px;
  font-weight: 600;
  color: #23a9e1;
  text-decoration: none;
  line-height: 18px;
  text-align: center;
  width: 100%;
  margin-top: 14px;
  display: block;
}
.video-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #42469d;
  border-radius: 12px;
  padding: 2px 6px;
  color: #42469d;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.video-button {
  padding: 25px 0 20px;
}
.video-button img {
  margin-right: 10px;
  width: 44px;
}
.altitude-content-img img {
  height: 84px;
}
.atitude-product {
  position: absolute;
  bottom: 60px;
  left: 18px;
}
.atitude-product .product-title h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  line-height: 18px;
  width: 100%;
  margin-bottom: 20px;
}
.product-button button {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 6px 24px;
  color: #42469d;
  font-size: 20px;
  font-weight: 700;
  width: 278px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  line-height: 24px;
  margin-left: 20px;
  background: #ffffffd4;
}
.product-button button:first-child {
  margin-left: 0;
}
.product-button button img {
  width: 55px;
  margin-right: 10px;
}
.product-button {
  display: flex;
}
.back-to-home-button {
  position: absolute;
  bottom: 72px;
  right: 18px;
}
.back-to-home-button a {
  background-color: #4b4647e3;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
}
.back-to-home-button a img {
  width: 30px;
}

@media only screen and (min-width: 1800px) {
  .altitude-content-img img {
    height: 148px;
  }
  .main-altitude-content {
    top: 21%;
    left: 33%;
  }
  .main-altitude-auto-icon .main-altitude-content {
    left: 60%;
    top: 23%;
  }
  .main-altitude
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon
    button {
    top: 76%;
  }
  .main-altitude
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon
    button {
    top: 80%;
    left: 57%;
  }
}

@media only screen and (max-width: 1400px) {
  .product-button button {
    font-size: 18px;
    width: 252px;
  }
}

.main-wrapper-video video {
  height: calc(100vh - 6px);
  object-fit: cover;
}
.video-skip-button {
  position: absolute;
  bottom: 86px;
  right: 32px;
}
.video-skip-button button {
  background-color: #4b4647e3;
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  border: none;
}
.video-skip-button button img {
  width: 25px;
  margin-left: 10px;
}
.wrapper-wastervalves {
  padding-top: 47px;
}
@media only screen and (max-width: 1279px) {
  .wrapper-header {
    display: none;
  }
  body .hambergur-menu {
    display: block;
    height: 135px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-1 {
    top: 30%;
  }
  .wrapper-loaction-list .wrapper-button-list button {
    padding: 8px 14px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-3 {
    top: 21%;
    left: 12%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-2 {
    top: 30%;
    left: 22%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-3 {
    top: 18%;
    left: 41%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-4 {
    top: 7%;
    left: 43%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-5 {
    top: 12%;
    left: 62%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-4 {
    top: 28%;
    left: 60%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-2 {
    top: 18%;
    left: 1%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-5 {
    top: 34%;
    left: 78%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-8 {
    top: 22%;
    left: 85%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-green-2 {
    top: 58%;
    left: 3%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-green-1 {
    top: 49%;
    left: 4%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-7 {
    top: 47%;
    left: 22%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-10 {
    top: 56%;
    left: 45%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-9 {
    top: 48%;
    left: 39%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-8 {
    top: 39%;
    left: 36%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-11 {
    top: 62%;
    left: 64%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-12 {
    top: 77%;
    left: 77%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-19 {
    top: 97%;
    left: 87%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-18 {
    top: 103%;
    left: 70%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-17 {
    top: 93%;
    left: 67%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-13 {
    top: 100%;
    left: 9.5%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-15 {
    top: 100%;
    left: 30%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-14 {
    top: 92%;
    left: 25%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-16 {
    top: 94%;
    left: 36%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-6 {
    top: 48%;
    left: 88%;
  }
  .wrapper-mobile-menu-intake li .wrapper-mobile-menu-intakes {
    position: relative;
    left: -185px;
  }
}
@media only screen and (max-width: 1199px) {
  .wrapper-loaction-list .wrapper-button-list button {
    font-size: 10px;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-1 {
    top: 2%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-2 {
    top: 16%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-3 {
    top: 19%;
    left: 14%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-4 {
    top: 2%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-7 {
    top: 1%;
  }
  /* .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-5 {
        height: 36px;
    } */
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-6 {
    top: 50%;
    left: 84%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-green-2 {
    top: 63%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-7 {
    left: 19%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-10 {
    top: 64%;
    left: 45%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-9 {
    top: 52%;
    left: 39%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-15 {
    top: 104%;
    left: 28%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-17 {
    top: 91%;
    left: 63%;
  }
  .sidenav {
    padding-top: 16px !important;
  }
  .product-button button {
    font-size: 12px;
    width: 180px;
    padding: 6px 10px;
  }
  .product-button button img {
    width: 35px;
    margin-right: 6px;
  }
  .atitude-product {
    left: 15px;
  }
  .main-altitude-content {
    top: 14%;
    left: 28%;
    z-index: 9;
  }
  .main-altitude-auto-icon .main-altitude-content {
    left: 47%;
    top: 12%;
  }
  .main-altitude-content {
    padding: 20px 20px 20px;
  }
  .main-altitude-content .altitude-content-title h3 {
    margin: 12px 0px 11px;
    color: #42469d;
    font-size: 20px;
  }
  .atitude-product .product-title h4 {
    display: inline-block;
  }
  .wrapper-mobile-menu-intake li .wrapper-mobile-menu-intakes {
    position: relative;
    left: -156px;
  }
  .video-button {
    padding: 13px 0 6px;
  }
}
@media only screen and (max-width: 945px) {
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-1 {
    top: -11%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-2 {
    top: 10%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-3 {
    top: 15%;
    left: 19%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-green-2 {
    top: 71%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-green-1 {
    top: 51%;
    left: 1%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-2 {
    top: 28%;
    left: 19%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-7 {
    left: 17%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-4 {
    top: -11%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-3 {
    top: 12%;
    left: 37%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-8 {
    top: 35%;
    left: 38%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-10 {
    top: 72%;
    left: 45%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-5 {
    top: -4%;
    left: 61%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-4 {
    top: 22%;
    left: 56%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-11 {
    top: 53%;
    left: 59%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-7 {
    top: -16%;
    left: 82%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-13 {
    top: 100%;
    left: 2%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-14 {
    top: 76%;
    left: 24%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-15 {
    top: 104%;
    left: 22%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-17 {
    top: 82%;
    left: 62%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-6 {
    top: 57%;
    left: 81%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-18 {
    top: 103%;
    left: 56%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-19 {
    top: 104%;
    left: 76%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-blue-6 {
    position: absolute;
    top: 4%;
    left: 78%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-12 {
    top: 87%;
    left: 80%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-6 {
    top: 66%;
    left: 81%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-5 {
    top: 40%;
    left: 78%;
  }
  .wrapper .wrapper-inner .wrapper-block {
    padding: 20px 10px !important;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-2 {
    top: -6%;
    left: 19%;
  }
  .wrapper-loaction-list .wrapper-button-list .wrapper-button-skyblue-7 {
    left: 16%;
    top: 34%;
  }
}

/* ---------Sidebar css ------------- */
.sidenav {
  height: 90%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 31px;
  left: 47px;
  background-color: #ffffffdb;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.wrapper-mobile .wrapper-mobile-inner {
  width: 100%;
  padding: 0 20px;
}
.wrapper-mobile .wrapper-mobile-inner .wrapper-mobile-inner-title h4 {
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  padding-top: 10px;
}
.wrapper-mobile-block {
  padding: 0px 0px;
}
.wrapper-mobile-block .wrapper-mobile-block-title h5 {
  margin: 0;
  color: #23a9e1;
  font-size: 15px;
  font-weight: 700;
  padding-top: 7px;
}
.wrapper-mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.wrapper-mobile-menu ul li {
  float: left;
  width: 33.33%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}
.wrapper-mobile-menu ul li a {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  line-height: 18px;
  text-decoration: none;
}
.wrapper-mobile-block {
  width: 100%;
  display: inline-block;
}

.hambergur-menu {
  display: none;
}
.wrapper-mobile-menu-intake li {
  width: 50% !important;
}

@media only screen and (max-width: 1024px) {
  .wrapper-mobile-menu-intake li .wrapper-mobile-menu-intakes {
    position: relative;
    left: -147px;
  }
}
@media only screen and (max-width: 991px) {
  .wrapper-mobile-menu-intake li .wrapper-mobile-menu-intakes {
    position: relative;
    left: unset;
  }
  .wrapper-mobile-menu-intake li {
    width: 50% !important;
  }
  .wrapper-mobile-menu ul li {
    width: 50%;
    padding: 6px 0;
  }
  .wrapper-mobile-block .wrapper-mobile-block-title h5 {
    padding-bottom: 0px;
    font-size: 13px;
  }
  .wrapper-mobile-menu ul li a {
    font-size: 12px;
    line-height: 16px;
  }
  .wrapper-mobile .wrapper-mobile-inner .wrapper-mobile-inner-title h4 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1480px) and (min-width: 1200px) {
  .main-altitude-content {
    padding: 20px 20px 20px;
    top: 20%;
    left: 26%;
  }
  .main-altitude-content .altitude-content-title h3 {
    margin: 3px 0px 10px;
  }
  .learn-more a {
    margin-top: 6px;
  }
  .video-button {
    padding: 14px 0 0px;
  }
  .main-altitude-auto-icon .main-altitude-content {
    left: 60%;
    top: 22%;
  }
}

@media only screen and (max-width: 767px) {
  .main-altitude .main-altitude-inner .main-altitude-bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  body .atitude-product {
    position: absolute;
    bottom: -130px;
    left: 0 !important;
    padding: 18px 10px;
  }
  .back-to-home-button {
    position: absolute;
    bottom: unset;
    right: 20px;
    top: 13px;
  }
  .main-wrapper-video video {
    height: 100% !important;
    object-fit: cover;
  }
  .back-to-home-button a {
    background-color: #4b4647e3;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    padding: 7px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
  }
  .product-button button {
    width: 50% !important;
  }
  .main-altitude
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon
    button {
    position: absolute;
    top: 70%;
    left: 47%;
    background-color: transparent;
    border: none;
  }
  .main-altitude-auto-icon .main-altitude-content {
    left: 0;
    top: 4%;
    right: 0;
    margin: 0 auto;
  }
  .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon
    button {
    position: absolute;
    top: 80% !important;
    left: 57% !important;
    background-color: transparent;
    border: none;
  }
  .main-altitude-content {
    padding: 12px 20px 6px;
  }
  .main-altitude-content .altitude-content-title h3 {
    margin: 6px 0px 4px;
    font-size: 20px;
  }
  .main-altitude-content {
    left: 0;
    top: 4%;
    right: 0;
    margin: 0 auto;
  }
  .video-skip-button button {
    font-size: 16px;
    padding: 10px 10px;
  }
  .main-wrapper-video {
    position: relative;
  }
  .altitude-content-img img {
    height: 40px;
  }
  .learn-more a {
    margin-top: 4px;
  }
  .mobile-tutorial-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #000c;
    z-index: 5;
  }
  .mobile-tutorial-container svg {
    margin-top: 2rem;
    height: 13rem;
  }
  .hand-x {
    animation: swipe-x 1.25s ease-in-out backwards;
    animation-iteration-count: infinite;
    fill: #fff;
    stroke: #000;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  @keyframes swipe-x {
    0% {
      transform: translate(0);
    }

    25% {
      transform: translate(50px) rotate(10deg);
    }

    50% {
      transform: translate(0);
    }

    75% {
      transform: translate(-50px) rotate(-10deg);
    }
  }

  .swipe-horizontal {
    opacity: 0.75;
  }
  .line-horizontal {
    fill: transparent;
    stroke: #fff;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .mobile-tutorial-container .arrow-left {
    fill: transparent;
    stroke: #fff;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .mobile-tutorial-container .arrow-right {
    fill: transparent;
    stroke: #fff;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .tutorial-hint {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 600;
  }
  .got-it-button {
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }
  .got-it-button button {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    background-color: transparent;
    padding: 8px 20px;
    width: 150px;
  }
  .mobile-tutorial-link {
    margin-top: 40px;
  }
  .mobile-tutorial-link a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }
  .wrapper .wrapper-inner img {
    width: 100%;
    height: 600px;
  }
  /* .wrapper-loaction-list .wrapper-button-list button {
        width: 140px;
    } */
  .mobile-tutorial-container-ctm {
    display: block !important;
  }

  .wrapper .wrapper-inner {
    position: relative;
    width: 750px;
  }
  .wrapper-bg-cover {
    overflow: hidden;
  }
  .wrapper-mobile-menu ul li {
    width: 100% !important;
  }
  .sidenav {
    height: 464px !important;
  }
  .sidenav {
    height: 55% !important;
  }
}

.mobile-tutorial-container-ctm {
  display: none;
}

/* 1 page css start------ */
.main-altitude
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-icon
  button
  span {
  font-size: 10px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  line-height: 18px;
  padding: 6px 10px;
  background-color: #ffffff;
  border-radius: 6px;
  position: absolute;
  width: 100%;
  /* left: -101px; */
  white-space: nowrap;
  display: inline-table;
  top: 9px;
  cursor: auto;
  right: 56px;
}
.main-altitude-1
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-icon-1
  button {
  top: 65%;
  left: 57%;
}
.main-altitude
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon-1
  button {
  top: 38% !important;
  left: 63% !important;
}
.main-altitude-auto-icon .main-altitude-content-1 {
  left: 68%;
  top: 10%;
}
.atitude-product-1 .product-title h4 {
  color: #ffffff;
}
.main-altitude-auto-icon .main-altitude-content-1 {
  left: 68% !important;
  top: 12% !important;
}
@media screen and (max-width: 991px) {
  body
    .main-altitude-1
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon-1
    button {
    top: 65%;
    left: 55%;
  }
  body
    .main-altitude
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-1
    button {
    top: 38%;
    left: 61%;
  }
  body .main-altitude-auto-icon .main-altitude-content-1 {
    left: 60%;
    top: 10%;
  }
}
@media screen and (max-width: 767px) {
  body
    .main-altitude
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-1
    button {
    top: 37% !important;
    left: 55% !important;
  }
  body
    .main-altitude
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-1
    button {
    top: 37% !important;
    left: 61% !important;
  }
  body .main-altitude-auto-icon .main-altitude-content-1 {
    left: 0;
    top: 4%;
    right: 0;
    margin: 0 auto;
  }
  .atitude-product-1 .product-title h4 {
    color: #fff;
  }
}
@media screen and (max-width: 600px) {
  body
    .main-altitude
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-1
    button {
    top: 33% !important;
    left: 60% !important;
  }
  body
    .main-altitude-1
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon-1
    button {
    top: 61%;
    left: 54%;
  }
  body
    .main-altitude
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-1
    button {
    top: 37% !important;
    left: 55% !important;
  }
  body
    .main-altitude
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-1
    button {
    top: 37% !important;
    left: 61% !important;
  }
  body .main-altitude-auto-icon .main-altitude-content-1 {
    left: 0;
    top: 4%;
    right: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  body
    .main-altitude
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-1
    button {
    top: 33% !important;
    left: 59% !important;
  }
  body
    .main-altitude-1
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon-1
    button {
    top: 61%;
    left: 52%;
  }
}
/* 1 page css end------ */

/* 2 page css start------ */

.main-altitude-2
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon-2
  button {
  top: 22% !important;
  left: 50% !important;
}
.main-altitude-auto-icon .main-altitude-content-2 {
  left: 57%;
  top: 6%;
}
.main-altitude-2
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-icon-2
  button {
  position: absolute;
  top: 50%;
  left: 40%;
  background-color: transparent;
  border: none;
}
.main-altitude-content-2 {
  top: 18%;
  left: 13%;
}
@media screen and (max-width: 991px) {
  .main-altitude-2
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon-2
    button {
    left: 38%;
  }
  .main-altitude-2
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-2
    button {
    left: 48%;
  }
}
@media screen and (max-width: 767px) {
  .main-altitude-2
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon-2
    button {
    left: 38%;
  }
  .main-altitude-2
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-2
    button {
    left: 47% !important;
    top: 19% !important;
  }
  .main-altitude-auto-icon .main-altitude-content-2 {
    left: 0;
    top: 4%;
    right: 0;
    margin: 0 auto;
  }
  .main-altitude-content-2 {
    left: 0;
    top: 4%;
    right: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .main-altitude-2
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon-2
    button {
    left: 36%;
  }
  .main-altitude-2
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-2
    button {
    left: 45% !important;
    top: 19% !important;
  }
}
/* 2 page css end------ */

/* 3 page css start------ */

.main-altitude-3
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon-3
  button {
  position: absolute;
  top: 34% !important;
  left: 45% !important;
  background-color: transparent;
  border: none;
}
.main-altitude-3
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-icon-3
  button {
  position: absolute;
  top: 63%;
  left: 37%;
  background-color: transparent;
  border: none;
}
.main-altitude-auto-icon-3 .main-altitude-content {
  left: 52%;
  top: 5%;
}
.main-altitude-content-3 {
  top: 18%;
  left: 10% !important;
}
@media screen and (max-width: 991px) {
  .main-altitude-3
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon-3
    button {
    top: 64%;
    left: 36%;
  }
  .main-altitude-3
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-3
    button {
    top: 35%;
    left: 44%;
  }
}
@media screen and (max-width: 767px) {
  .main-altitude-3
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-3
    button {
    top: 32% !important;
    left: 42% !important;
  }
  .main-altitude-3
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon-3
    button {
    top: 62%;
    left: 34%;
  }
  .main-altitude-auto-icon-3 .main-altitude-content {
    left: 0;
    top: 4%;
    right: 0;
    margin: 0 auto;
  }
}

/* 3 page css end------ */

/* 4 page css start------ */
.main-altitude-4
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon-4
  button {
  top: 14% !important;
  left: 65% !important;
}
.main-altitude-auto-icon-4 .main-altitude-content-4 {
  left: 60%;
  top: 21%;
}
.main-altitude
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-icon-4
  button {
  position: absolute;
  top: 29%;
  left: 82%;
  background-color: transparent;
  border: none;
}

.main-altitude-4 .main-altitude-content-4 {
  left: 54%;
  top: 22%;
}
@media screen and (max-width: 767px) {
  .main-altitude-4
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-4
    button {
    top: 14% !important;
    left: 65% !important;
  }
  .main-altitude-auto-icon-4 .main-altitude-content-4 {
    left: 0;
    top: 4%;
    right: 0;
    margin: 0 auto;
  }
  .main-altitude-4 .main-altitude-content-4 {
    left: 0;
    top: 4%;
    right: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .main-altitude-4
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-4
    button {
    top: 10% !important;
    left: 59% !important;
  }
  .main-altitude-4
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon-4
    button {
    top: 27%;
    left: 71%;
  }
}
/* 4 page css end------ */

/* float valve page css start------ */
.main-altitude-float-valve
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon-float-valve
  button {
  top: 60% !important;
  left: 75% !important;
}
.main-altitude-float-valve
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-icon-float-valve
  button {
  top: 68%;
  left: 78%;
}
.main-altitude-auto-icon .main-altitude-content-float-valve {
  left: 47%;
  top: 7%;
}
.main-altitude-icon-float-valve .main-altitude-content {
  left: 47% !important;
}

@media screen and (max-width: 767px) {
  .main-altitude-float-valve
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-float-valve
    button {
    top: 57% !important;
    left: 71% !important;
  }
  .main-altitude-auto-icon .main-altitude-content-float-valve {
    left: 0;
    top: 4%;
    right: 0;
    margin: 0 auto;
  }
  .main-altitude-icon-float-valve .main-altitude-content {
    left: 0 !important;
    top: 4%;
    right: 0 !important;
    margin: 0 auto;
  }
  .isolation-margin-top-name {
    margin-top: 5px;
  }
  @media screen and (max-width: 480px) {
    .main-altitude-float-valve
      .main-altitude-inner
      .main-altitude-block
      .main-altitude-block-inn
      .main-altitude-auto-icon-float-valve
      button {
      top: 52% !important;
      left: 71% !important;
    }
  }
}
/* float valve page css end------ */

/* flow limit valve page css start------ */
.main-altitude-7
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-icon
  button {
  top: 11%;
  left: 46%;
}
.main-altitude
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon
  button {
  top: 26%;
  left: 83%;
}
.main-altitude-content-7 {
  left: 42%;
  top: 10%;
}
.main-altitude-auto-icon .main-altitude-content {
  left: 56%;
  top: 22%;
}
@media screen and (max-width: 991px) {
  .main-altitude-content-7 {
    left: 18%;
    top: 10%;
  }
  .main-altitude-auto-icon .main-altitude-content {
    left: 33%;
    top: 22%;
  }
  body .site-header {
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .main-altitude-content-7 {
    left: 0 !important;
    top: 4%;
    right: 0 !important;
    margin: 0 auto;
  }
  .main-altitude-auto-icon .main-altitude-content {
    left: 0 !important;
    top: 4%;
    right: 0 !important;
    margin: 0 auto;
  }
  .main-altitude-7
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-7
    button {
    top: 25% !important;
    left: 80% !important;
  }
}
@media screen and (max-width: 767px) {
  .main-altitude-content-7 {
    left: 0 !important;
    top: 4%;
    right: 0 !important;
    margin: 0 auto;
  }
  .main-altitude-auto-icon .main-altitude-content {
    left: 0 !important;
    top: 4%;
    right: 0 !important;
    margin: 0 auto;
  }
  .main-altitude-7
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-7
    button {
    top: 26% !important;
    left: 72% !important;
  }
  .main-altitude-7
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon
    button {
    top: 10%;
    left: 64%;
  }
}
/* flow limit valve page css end------ */
.main-altitude
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon-7
  button {
  top: 26% !important;
  left: 83% !important;
}

.main-altitude
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon-7
  button.right-side-icon-wrap {
  top: 25% !important;
  left: 72% !important;
}

.main-altitude
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon-7
  button.right-side-icon-wrap
  .isolation-chamber-name {
  right: 0;
  left: 55px;
  top: 9px;
}

/* isolation chamber sewage page css start------ */
.main-altitude-8
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon-1
  button {
  top: 35% !important;
  left: 63% !important;
}
.main-altitude-8
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-icon
  button {
  top: 65%;
  left: 56%;
}
.main-altitude-8 .main-altitude-auto-icon .main-altitude-content {
  left: 68%;
  top: 10%;
}
.main-altitude-8 .main-altitude-content {
  left: 28%;
}
@media screen and (max-width: 767px) {
  body
    .main-altitude-8
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-1
    button {
    top: 34% !important;
    left: 61% !important;
  }
  .main-altitude-8
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon
    button {
    top: 64%;
    left: 54%;
  }
  .main-altitude-8 .main-altitude-content {
    left: 0 !important;
    top: 4%;
    right: 0 !important;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  body
    .main-altitude-8
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-1
    button {
    top: 32% !important;
    left: 59% !important;
  }
  .main-altitude-8
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon
    button {
    top: 63%;
    left: 52%;
  }
}
/* isolation chamber sewage page css end------ */

/*--------- Header section ----------- */
.site-header {
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}
.site-header-logo span {
  font-size: 18px;
  font-weight: 600;
  color: #2f398f;
  margin-left: 20px;
}
.site-header-logo img {
  height: 40px;
  object-fit: fill;
}
.site-header-logo .right-logo {
  height: 35px;
  object-fit: fill;
}
.site-header-logo a {
  text-decoration: none;
}
.site-footer {
  position: relative;
  bottom: 14px;
  z-index: 9;
  background: #4a4a4a;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all-write-text span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.site-footer-social-link ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-footer-social-link ul li {
  float: left;
  padding-left: 15px;
}
.site-footer-social-link ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}
.site-footer-social-link ul li span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}
.site-footer-social-link ul li a img {
  width: 10px;
  height: 15px;
}
.site-footer-social-link ul li a .instagram {
  width: 15px;
  height: 15px;
}
.site-footer-social-link ul li a .youtube-icons {
  width: 20px;
  height: 15px;
}
.contact-and-share-button {
  position: absolute;
  bottom: 60px;
  right: 18px;
  display: flex;
  align-items: center;
}
.contact-and-share-button img {
  height: 24px;
  text-align: center;
  margin: 0 auto;
}
.contact-and-share-button a {
  margin-left: 10px;
  text-decoration: none;
  background-color: #fff;
  display: grid;
  padding: 2px 6px;
  border-radius: 6px;
  color: #2f398f;
  font-size: 14px;
  font-weight: 600;
  width: 70px;
  text-align: center;
}
.site-header-inn {
  position: relative;
}

/* @media screen and (max-width: 1600px) { */
.vertical-center {
  margin: 0;
  position: absolute;
  top: 5%;
  /* transform: translateY(-50%); */
  max-height: 100vh;
  /* overflow: hidden; */
}
/* } */

@media screen and (max-width: 1199px) {
  .flolimit-valves .main-altitude-auto-icon .main-altitude-content {
    left: 80px;
    top: 17%;
    z-index: 99;
  }
  .site-footer {
    bottom: 0px;
  }
  .atitude-product {
    bottom: 55px;
  }
  body .contact-and-share-button {
    bottom: 55px;
  }
}

@media screen and (max-width: 991px) {
  /* body .flolimit-valves .main-altitude-inner .main-altitude-block .main-altitude-block-inn .main-altitude-icon button {
            position: absolute;
            top: 52%;
            left: 22%;
        } */
  body .flolimit-valves .main-altitude-auto-icon .main-altitude-content {
    left: 26%;
    top: 17%;
  }
  body
    .flolimit-valves
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon
    button {
    top: 3%;
  }
}

@media screen and (max-width: 767px) {
  body .site-footer {
    position: fixed;
    bottom: 0;
  }
  .main-altitude {
    padding: 0 0%;
  }
  body .vertical-center {
    margin: 0;
    position: relative;
    top: 0;
    transform: unset;
    max-height: 100%;
  }
  /* body .flolimit-valves .main-altitude-inner .main-altitude-block .main-altitude-block-inn .main-altitude-icon button {
                left: 31%;
                top: 66%;
            } */
  .vertical-center {
    overflow: unset;
  }
  body
    .flolimit-valves
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-7
    button.right-side-icon-wrap {
    top: 12% !important;
    left: 64% !important;
  }
  body .contact-and-share-button {
    bottom: 12px;
  }
}
@media screen and (max-width: 576px) {
  body
    .flolimit-valves
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-7
    button.right-side-icon-wrap {
    top: 6% !important;
    left: 58% !important;
  }
  body
    .flolimit-valves
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon
    button {
    top: 5%;
    left: 40%;
  }
}
@media screen and (max-width: 533px) {
  .site-footer {
    flex-direction: column;
    z-index: 1;
  }
}

.flolimit-valves
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-auto-icon-7
  button.right-side-icon-wrap {
  top: 18% !important;
  left: 65% !important;
}

.flolimit-valves
  .main-altitude-inner
  .main-altitude-block
  .main-altitude-block-inn
  .main-altitude-icon
  button {
  position: absolute;
  top: 10%;
  left: 46%;
  background-color: transparent;
  border: none;
}
.flolimit-valves .main-altitude-content-7 {
  left: 32%;
  top: 18%;
  z-index: 99;
}
.flolimit-valves .main-altitude-auto-icon .main-altitude-content {
  left: 45%;
  top: 26%;
  z-index: 99;
}

.site-home-logo {
  display: flex;
  align-items: center;
}
.site-home-logo a {
  background-color: #2f398f;
  border-radius: 6px;
  padding: 5px;
}
.site-home-logo a img {
  height: 30px;
}

@media screen and (max-width: 1280px) {
  .site-header {
    position: relative;
  }
  .flolimit-valves
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon
    button {
    top: 5%;
  }
  .flolimit-valves
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-auto-icon-7
    button.right-side-icon-wrap {
    top: 14% !important;
  }
}

.isolation-chamber-names {
  font-size: 10px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  line-height: 18px;
  padding: 6px 10px;
  background-color: #ffffff;
  border-radius: 6px;
  position: absolute;
  width: 100%;
  /* left: -101px; */
  white-space: nowrap;
  display: inline-table;
  top: 9px;
  cursor: auto;
  right: 56px;
}
.product {
  position: absolute;
  top: 9%;
  left: 47%;
}
.product img {
  width: 45px;
  height: 45px;
}

@media screen and (min-width: 1024px) {
  body {
    overflow: hidden;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .vertical-center {
    width: 80vw;
    top: 5%;
    left: 10%;
  }
  .product-button button {
    font-size: 8px;
    width: 158px;
    padding: 2px;
    margin-left: 10px;
  }
  .contact-and-share-button a {
    font-size: 8px;
    width: 52px;
  }
  .product {
    left: 41%;
    top: 5%;
  }
  .isolation-chamber-names,
  .isolation-chamber-name {
    padding: 2px 6px !important;
  }
  .main-altitude
    .main-altitude-inner
    .main-altitude-block
    .main-altitude-block-inn
    .main-altitude-icon
    button
    img,
  .product img {
    width: 35px;
    height: 35px;
  }
  body .atitude-product {
    bottom: 37px !important;
  }
  body .contact-and-share-button {
    bottom: 59px !important;
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  body .vertical-center {
    width: 200vw;
  }
  body .atitude-product {
    bottom: -12px !important;
  }
}
